body {
    margin: 0;
    padding: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.search {
    display: flex;
    font-size: 18px;
    align-items: center;
    flex-wrap: wrap;
}

.search-text {
    margin-right: 16px;
}

label {
    margin-right: 6px;
}

input {
    padding: 8px 16px;
}

.search-text,
.search-brand {
    display: flex;
    align-items: center;
}

.search-btn {
    padding: 4px 12px;
    border: 1px solid black;
    margin-left: 8px;
    cursor: pointer;
}

.result {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

li {
    width: 100%;
    padding-top: 8px;
}

li.active {
    font-size: 1.4em;
    font-weight: bold;
    color: green;
}

.info {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 16px;
}

.info.active {
    color: green;
}